::selection{
    color: #fff;
    background-color: #000;
}
::-moz-selection{
    color: #fff;
    background-color: #000;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
.row{
    width: 90%;
    margin: 0 5%;;
}
html{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
/*<<<---common to all projects--->>>*/
.back-btn{
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 20px;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    width: 120px;
    background-color: #313131;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    transition: background-color 0.5s;
}
.back-btn:hover{
    background-color: #525252;
}
.section-main{
    height: 100vh;
    width: 100%;
}
/*heading*/
h2{
    margin: 40px 0 20px 0;
    text-transform: uppercase;
    font-size: 40px;
    color: #f8f8f8;
}
h2 span{
    color: #313131;
    display: block;
    font-weight: bolder;
    margin: 20px 0;
    padding: 20px 10px;
    background-color: #f8f8f8;
    border-radius: 100px;
    width: 90px;
}
.sec-main-para{
    color: #f8f8f8;
    font-size: 25px;
    font-weight: 300;
    margin: 30px 0;
}
.sec-main-visit-btn a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    width: 160px;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    transition: background-color 0.5s;
}
.sec-main-visit-btn a:active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.87);
}
/*______________project-001___________*/
.project-001{
    background-color: #00a8ff;
}
.btn-001 a{
    color: #f8f8f8;
    background-color: #F44336;
}
.btn-001 a:hover{
    background-color: #026799;
}
/*______________project-002___________*/
.project-002{
    background-color: #F44336;
}
.btn-002 a{
    color: #f8f8f8;
    background-color: #00a8ff;
}
.btn-002 a:hover{
    background-color: #b93128;
}
/*______________project-003___________*/
.project-003{
    background-color: #4cd137;
}
.btn-003 a{
    color: #f8f8f8;
    background-color: #353b48;
}
.btn-003 a:hover{
    background-color: #276e1c;
}
div a img {
    display:none;
}